<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UnderLine</title>
    <!-- Latest compiled and minified CSS -->
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>    
</head>
<body class="container-fluid">
    <nav class="navbar navbar-default bg-dark" role = "navigation">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">UnderLine</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/world">World</a></li>
            <li><a href="/in">India</a></li>
            <li><a href="/covid">Covid-19</a></li>
            </ul>
        </div>
    </nav>

<div class="jumbotron jumbotron-fluid" style="margin-top:-20px; padding-bottom: 30px; border-bottom: solid black; color:black">
    <div class="container">
    <center><h2 style="color: black;">
        <u>UnderLine</u> : Just the Essentials!
    </h2></center>
    <h4 style="text-align: center;">Top HeadLines</h4>
    </div>
</div>
<center>
<div class="container">
    {% for new, des, i in context %}
    <!--started-->
    <div class="col-md-6">
    <div class="card" style="width:500px; height: 600px;">
        <img class="card-img-top img-fluid" src="{{i}}" alt="News" style="width:400px;height:300px;">
        <div class="card-body">
            <h3 class="card-title strong">{{new}}</h3>
            <p class="card-text">{{des}}</p>
        </div>
    </div>
    </div>
    <!--Ended-->
    <!--<img src="{{i}}", alt="">
    <h3>News: </h3> {{new}}
    <h4>Description: </h4> {{des}}-->
    {% endfor %}
</div>
</center>
</body>
</html>
